<div class="meeting">
  <p>
    <% if current_student %>
      講師: <%= link_to "#{meeting.instructor.name}さん", meeting.instructor  %>
    <% else %>
      生徒:
      <% meeting.students.each do |student| %>
        <%= link_to "#{student.name}さん", student %>
      <% end %>
    <% end %>
  </p>
  <p>
    日時:
    <%= meeting.schedule.date.strftime("%-m/%-d") %>
    <%= meeting.schedule.start_time.strftime("%-H:%M") + "~" + meeting.schedule.start_time.since(30.minutes).strftime("%-H:%M") %>
    <% case meeting.course %>
      <% when "personal" %>
        <span>個人</span>
      <% when "group" %>
        <span>グループ</span>
    <% end %>
  </p>
  <p>サービス名: <%= meeting.service_name %></p>
  <p>ミーティングID: <%= meeting.service_id %></p>
  <p>パスワード: <%= meeting.service_pwd %></p>
</div>
