<%= render "application/header" %>

<div class="back-gray">

  <h2>面談情報</h2>

  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <%= link_to "トークルーム", meeting, class: "messages-link" %>
    <% if current_student && !meeting.reviewed(current_student) %>
      <%= link_to "レビュー", new_meeting_review_path(meeting), class: "messages-link" %>
    <% end %>
    <% if current_instructor && !meeting.reviewed(current_instructor) %>
      <%= link_to "レビュー", new_meeting_review_path(meeting), class: "messages-link" %>
    <% end %>
  <% end %>

  <% if @meetings.empty? %>
    <p class="align-center">現在、面談情報はありません</p>
  <% end %>

</div>
