<% dates.each do |d| %>
  <div class="day-schedule">
    <%= d.strftime("%-m/%-d") %>
    <div class="start-times">
      <% schedules.each do |s| %>
        <% if s.date == d %>
            <% if type == "private" %>
              <% if !s.reservations.empty? && !s.meeting %>
                <span class="reserved-time"><%= link_to s.start_time.strftime("%H:%M"), new_schedule_meeting_path(s) %></span>
              <% elsif s.reservations.find{|r| r.course == "personal" } %>
                <span class="personal-time"><%= s.start_time.strftime("%H:%M") %></span>
              <% elsif s.reservations.find{|r| r.course == "group" } %>
                <span class="group-time"><%= s.start_time.strftime("%H:%M") %></span>
              <% else %>
                <%=
                  link_to s.start_time.strftime("%H:%M"), schedule_path(s.id),
                  {method: :delete, data: {confirm: "このシフトを削除しますか？"}}
                  %>
              <% end %>
            <% else %>
              <% if s.reservations.find{|r| r.course == "group" } %>
                <span class="group-time">
                  <%= link_to_if current_student, s.start_time.strftime("%H:%M"), group_schedule_reservations_path(s) %>
                </span>
              <% elsif s.reservations.size == 0 %>
                <% if current_student %>
                  <%= link_to s.start_time.strftime("%H:%M"), schedule_path(s) %>
                <% else %>
                  <span><%= s.start_time.strftime("%H:%M") %></span>
                <% end %>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if dates.empty? %>
  <p class="no-schedule">シフトが登録されていません</p>
<% end %>
