<div class="back-gray-without-header">
  <h2>お問い合わせ</h2>
  <%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact-text">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 10 %>
  </div>
  <p class="align-center">ご登録のメールアドレスに数日以内に返信させていただきます</p>
  <div class="form-actions">
    <%= f.submit "送信" %>
  </div>
  <% end %>
</div>
