<div class="back-gray-without-header">
  <h3>面談は適切に行われましたか？</h3>
  <%= form_for [@meeting, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="review-radios">
    <div class="review-radio">
      <%= f.radio_button :safety, "YES" ,class: "radio-input", id: "radio-yes"%><label for="radio-yes">YES</label>
    </div>
    <div class="review-radio">
      <%= f.radio_button :safety, "NO" ,class: "radio-input", id: "radio-no"%><label for="radio-no">NO</label>
    </div>
  </div>
  <div class="review-text">
    <%= f.text_area :content, placeholder: "相手の良かったところ、直した方がいいところ、感謝の気持ちなどを伝えましょう。
適切に行われなかった場合は理由を教えてください。", rows: 10 %>
  </div>
  <div class="form-actions">
    <%= f.submit "送信" %>
  </div>
  <% end %>
</div>
