<!DOCTYPE html>
<html>
  <head>
    <title>Bolcar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="notice">
        <p><%= notice.html_safe %></p>
        <button id="notice-close">
          もどる
        </button>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert" id="alert-close">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
