<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "students/shared/error_messages", resource: resource %>
  <p>プロフィール写真</p>
  <%= f.label :icon, class: "image-label" do %>
    <div class="prev-contents">
      <% if current_student.icon.attached? %>
        <div class="prev-content">
          <%= image_tag current_student.icon, class: "prev-image" %>
        </div>
      <% else %>
        <%= image_tag "camera.png", class: "default-icon" %>
      <% end %>
      <%= f.file_field :icon, accept: 'image/*', class: "hidden-file" %>
    </div>
  <% end %>
  <div class="signup-field edit-field">
    <%= f.label :name, "お名前(フルネーム)" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="signup-field edit-field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>

  <div class="signup-field edit-field">
    <%= f.label :faculty %><br />
    <%= f.text_field :faculty %>
  </div>

  <div class="check_field">
    <label>
      <%= f.check_box :is_public %>
      学校名・学部学科をプロフィールに表示する
    </label>
  </div>

  <div class="signup-field edit-field">
    <%= f.label :graduation_year %><br />
    <%= f.select :graduation_year,
      [
        "#{Time.current.ago(1.years).strftime("%Y年")}以前",
        "#{Time.current.strftime("%Y年")}",
        "#{Time.current.since(1.years).strftime("%Y年")}",
        "#{Time.current.since(2.years).strftime("%Y年")}",
        "#{Time.current.since(3.years).strftime("%Y年")}以降"
      ],
      {include_blank: "選択してください"}, class: "age-select" %>
  </div>

  <div class="signup-field edit-field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile, rows: 10 %>
  </div>


  <div class="signup-actions">
    <%= f.submit "保存する" %>
  </div>
<% end %>
